body{
    background-color: antiquewhite;
    
    
}
.button{
    text-indent: 200px;
    padding-bottom: 5%;
}

.entire{
    width: 40%;
    height: 80%;
    background-color: aqua;
    margin-left: 30%;
    padding-top: 2%;
}
/* }
.odun{
    margin-left: 40%;
}
.obinrin{
    margin-left: 40%;
}
.contact{
    margin-left: 40%;
}
.location{
    margin-left: 40%;
}
.webadd{
    margin-left: 40%;
} */

